<%= form_for(@user) do |f| %>

  <% if @user.errors.any? %>
    Please correct the following errors:
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

    <%= f.label :username %><br>
    <%= f.text_field :username %>

      <%= f.label :email %><br>
      <%= f.text_field :email %>

      <%= f.label :password %><br>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>

    <%= f.submit %>
<% end %>
