<!DOCTYPE html>
<html>
<head>
  <title>RedT</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to "Create Account", new_user_path %> <br>
<%= link_to "HOME", root_path %> <br>
<%= link_to "Submit New Post", new_post_path  %> <br>

<br>
<%= yield %>

</body>
</html>
